{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<nav class="fluid-container">
<div class="wrapper container">
  <h1><a href="/">{{title}}</a></h1>
  <ul>
    <li><a href="/events">Events</a></li>
    <li><a href="/attendees">Attendees</a></li>
    <li><a href="/venues">Venues</a></li>
    <!-- {%if admin == true%}
    <li>{{sessionName}}</li>
    {%endif%}
    <li><a href="/logout"></a></li> -->
  </ul>
</div>

<div class="current">
  <h2>{{event[0].title}}</h2>
  </div>
</div>
</nav>

{% endblock %}
