{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<nav class="fluid-container">
<div class="wrapper container">
  <h1><a href="/">{{title}}</a></h1>
  <ul>
    <li><a href="/events">Events</a></li>
    <li><a href="/attendees">Attendees</a></li>
    <li><a href="/venues">Venues</a></li>
    <!-- {%if admin == true%}
    <li>{{sessionName}}</li>
    {%endif%}
    <li><a href="/logout"></a></li> -->
  </ul>
</div>
</nav>

<div class="current">
  <h2>All Events</h2>
    {%for event in data%}
  <div class="all col-xs-4">
    <a href="/events/{{event.id}}" class="eventLink">{{event.title}}</a>
    <p><a href="/events/{{event.id}}"class="restaurantLink" >{{event.description}}</a>
    </p>
    <!-- <a href="/events/{{event.id}}/register">Register Now!</a> -->
  </div>
    {%endfor%}
</div>

{% endblock %}
